<mat-toolbar color="primary">
  <label class="fs-20"> Construction Project</label>
</mat-toolbar>

<mat-tab-group (selectedTabChange)="selectedTabChange($event.index)">
  
  <mat-tab label="Summary View">
  
    <mat-table [dataSource]="projetData" class="table mat-elevation-z8">

      <ng-container matColumnDef="loader">
        <mat-header-cell *matHeaderCellDef class="w-100">
            <mat-spinner class="center" [diameter]="30"></mat-spinner>
        </mat-header-cell>
      </ng-container>

      <ng-container matColumnDef="datetime">
        <mat-header-cell *matHeaderCellDef> Sampling Time </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ (element.date_time | date: 'M-d-y h:mm:ss a') || noData }} 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Project Name </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.Project_Name || noData }} 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="count">
        <mat-header-cell *matHeaderCellDef> Construction Count </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.Construction_Count || '0' }} 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="completed">
        <mat-header-cell *matHeaderCellDef> Is Construction Completed </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.Is_Construction_Completed ? 'True' : 'False' }} 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="legth">
        <mat-header-cell *matHeaderCellDef> Length of the road </mat-header-cell>
        <mat-cell *matCellDef="let element">
            {{ element.Length_of_the_road || noData }} 
        </mat-cell>
      </ng-container>
      
    <mat-header-row *matHeaderRowDef="displayColumns; sticky: true;"></mat-header-row>
    <mat-header-row *matHeaderRowDef="['loader']" [ngStyle]="{'display': isApiCalling ? 'block' : 'none', 'place-align': 'center'}"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
    </mat-table>

  </mat-tab>
  
  <mat-tab label="Detailed View">

    <ng-template matTabContent>

      <mat-card class="card">
        <mat-card-content>
          
          <div class="row">
          
            <div class="w-40">
              <ng-container *ngFor="let data of projetData">
                <button class="m-20" mat-stroked-button (click)="getFormData(data)"> {{ data.date_time | date: 'M-d-y h:mm:ss a'}} </button>
              </ng-container>
            </div>
          
            <mat-divider class="v-divider" [vertical]="true"></mat-divider>             
          
            <div *ngIf="productForm" class="center">
              <form [formGroup]="productForm">
                <mat-form-field appearance="outline" class="col m-5 w-100">
                  <mat-label>Project Name </mat-label>
                  <input matInput formControlName="name" cdkFocusInitial required>
                  <mat-error>
                    Name is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col m-5 w-100">
                  <mat-label>Construction Count </mat-label>
                  <input matInput formControlName="count" min="0" type="number" required>
                  <mat-error>
                    Count is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col m-5 w-100">
                  <mat-label>Length of the Road </mat-label>
                  <input matInput step="0.25" min="0" type="number" formControlName="length" required>
                  <label matSuffix class="m-5"> KM </label>
                  <mat-error>
                    Road of the length is required
                  </mat-error>
                </mat-form-field>
                <div>
                  <mat-label>Is Construction Completed :</mat-label>
                  <mat-checkbox color="primary" formControlName="completed"></mat-checkbox>
                </div>
              </form>

              <div class="row place-end m-5">
                <button [disabled]="!selectedDate || productForm.invalid" mat-raised-button color="primary" (click)="updateData()">
                  Save
                </button>
              </div>
            </div>

          </div>
        </mat-card-content>
      </mat-card>
    
    </ng-template>

  </mat-tab>
</mat-tab-group>